# Database Configuration
DB_NAME=yxdgljyk_houseBook
DB_USER=yxdgljyk_yxdgljyk
DB_PASSWORD=Imed.nass123456
DB_HOST=10.10.10.10

# JWT Secret for signing tokens
JWT_SECRET=NASSIM

# Server Configuration
PORT=3000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
